<div class="text-center" style="margin-top: 100px;"><h1>Plan your next trip</h1></div>

<div class="main-map-container">
  <div class="cards-container">
    <div class="flat-cards">
      <% @flats.each do |flat| %>
        <div class="flat-card">
            <%= link_to flat_path(flat)  do %>
            <div class="flat-card-content">
              <div class="flat-card-image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url(' <%= cl_image_path flat.photo if flat.photo.url %> ' ); ">

              </div>
              <div class="flat-card-title">
                <div class="flat-card-title-position">
                  <%= flat.title %>
                  <p> Price per night: <%= flat.price %>€</p>
                </div>
                <div class="flat-card-rating">
                  <p><%= "★" * flat.average %><%= "☆" * (5 - flat.average ) %> </p>
                </div>

              </div>
              </div>
          <% end %>
        </div>
        <% end %>
    </div>
  </div>

<!-- BACK-END (ONLY) OF GEOMAP CODE -->
<div
  id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<!-- END -->
</div>
