<div class="container container-background">
  <div>
    <div class="flat-header" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url(' <%= cl_image_path @flat.photo if @flat.photo.url %> ' )">
      <h1><%= @flat.title %></h1>
    </div>
    <div class="flat-description">
      <p><strong>Description:</strong> <%= @flat.description %></p>
      <p><strong>The address is:</strong> <%= @flat.address %>. </p>
      <p><strong>Price per night:</strong> <%= @flat.price %>€.</p>
      <p>There are <%= @flat.nbr_rooms %> room(s) and <%= @flat.nbr_beds %> bed(s). </p>
    </div>
    <div>
      <h3>Reviews</h3>
      <%= render 'shared/review_card' %>
    </div>
    <%if user_signed_in?%>
      <div class="text-center" style="margin-bottom: 30px; margin-top: 30px;">
        <%= link_to "Book flat", new_flat_booking_path(@flat),
          class: "btn btn-primary" %>
        <%= link_to "Add review", new_flat_review_path(@flat),
          class: "btn btn-primary" %>
      </div>
    <%end%>
  </div>

  <%#= month_calendar do |date| %>
  <%#= date %>
  <%# end %>


</div>
