<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @booked_day.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @booked_day.start_time %>
</p>

<%= link_to 'Edit', edit_booked_day_path(@booked_day) %> |
<%= link_to 'Back', booked_days_path %>
