<div class="container">
  <div style="margin:100px;">
    <%= form_for([@flat, @booking]) do |f| %>
      <div class="form-group">
        <%= f.label :date_begin %>
        <div class="">
        <%= f.date_field(:date_begin, min: Date.today) %>
        </div>
      </div>


      <div class="form-group">
        <%= f.label :date_end %>
        <div class="">
        <%= f.date_field(:date_end, min: Date.today) %>
        </div>
      </div>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>

    <div class="showstatus"><p><%= @message if @message %></p></div>
  </div>
</div>
